{% load staticfiles %}

<section class="ts-services bg-pattern-2" id="ts-services">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h2 class="section-title"><span>Our Services</span>What We Do</h2>
         </div>
      </div>
      <!-- Title row end-->
      <div class="row">
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service1.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-pie-chart2"></i>
                  </span>
                  <h3 class="service-title">Small Business Plan Set Up/Consulting</h3>
                  <p>GDS will help you start out your idea that will eventually come to fruition to be either an online, at home or brick and mortar facility.  We guide you from start to finish,
                    educating you on the steps that are being made to offer you understanding about the foundation of your business. </p>
               </div>
            </div>
            <!-- Service1 end-->
         </div>
         <!-- Col 1 end-->
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service2.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-tax"></i>
                  </span>
                  <h3 class="service-title">Virtual Executive Administrative Assisting</h3>
                  <p>GDS provides virtual administrative assisting services to make your life easier.  From scheduling of appointments, taking calls, client services responding to emails and inquiries,
                    organize documents, data entry, filter messages, provide follow up on your behalf, create and maintain spreadsheets and social media content.</p>
               </div>
            </div>
            <!-- Service2 end-->
         </div>
         <!-- Col 2 end-->
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service3.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-savings"></i>
                  </span>
                  <h3 class="service-title">Audio Video Project Management</h3>
                  <p>When you are ready to present your ideal, provide a training session, or plan for your next conference meeting, we are able to make you and your brand “shine!” GDS provides over 15 years in Senior Administration in Audio/Visual Project Management.  Our clientele consists of several local and Fortune 500 companies.  Our services include but are not limited to: travel, setting up wireless projectors, video switching, mixing boards, computers, stage or venue lighting, theater backdrops and much more.</p>
               </div>
            </div>
            <!-- Service3 end-->
         </div>
         <!-- Col 3 end-->
      </div>
      <!-- Content 1 row end-->
      <div class="gap-60"></div>
      <div class="row">
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service4.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-mutual-fund"></i>
                  </span>
                  <h3 class="service-title">Marketing Strategies/Graphic Services</h3>
                  <p>GDS makes it yet again easier for you to focus on building your business.  Branding your business is very important as we assist in setting up flyers, banners, window signage, if necessary, promotional items with your logo, custom tradeshow table throws, social media blogging,
                    finding your target market and helping you to stand out from the rest.  Our team is dedicated to keeping your brand relevant and on target!</p>
               </div>
            </div>
            <!-- Service4 end-->
         </div>
         <!-- Col 4 end-->
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service5.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-loan"></i>
                  </span>
                  <h3 class="service-title">Business Incorporation Services</h3>
                  <p>What is the best business set up for me?  GDS has the answer!  Once we find out what your passion of profitability is, we help you to establish the best business entity that will offer the finest “end of year” results.  We create: LLC, LLC-Establishment of Series (where applicable in certain states), C-Corporation, S-Corporation and Not for Profits.  We also set up your State license, EIN Number, Registered Agent, Duns & Brad Street Number, SAMS Setup, and Notorey Services.  We take you from start to finish by educating you on “why” you should set up your business in that capacity…JUST LIKE THAT!</p>
               </div>
            </div>
            <!-- Service5 end-->
         </div>
         <div class="col-lg-4 col-md-12">
            <div class="ts-service-box">
               <div class="ts-service-image-wrapper">
                  <img class="img-fluid" src="{% static 'images/services/service6.jpg' %}" alt="">
               </div>
               <div class="ts-service-content">
                  <span class="ts-service-icon">
                     <i class="icon icon-loan"></i>
                  </span>
                  <h3 class="service-title">Registered Agent Mail Services</h3>
                  <p>The registered agent is the person who is designated to receive federal and state legal documents and service of process (a summons or subpoena, for example).
Some registered agents provide additional services, such as filing documents, notifying businesses of upcoming events like an annual filings etc.
</p>
               </div>
            </div>
            <!-- Service5 end-->
         </div>
         <!-- Col 5 end-->
         </div>
         <!-- Col 6 end-->
      </div>
      <!-- Content Row 2 end-->
   </div>
   <!-- Container end-->
</section>
